<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/lingson">Magnus</a>
  </p>
  <br />
  <p>xxx
  </p>
  <p>xxx
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Magnus Lingh</h2>
      <br />
      <p>
        xxx
      </p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />