
<br /><br /><br />
<div class="col-md-8 offset-md-2 text-center">
<h2>
  <span>Fact # <%= @quote.id %></span>
  Facts about Sweden - just for you!
</h2>

</div>
<br />
<div class="col-md-8 offset-md-2 text-center">

<h1><%= @quote.saying %></h1>
<br>
<h2>- <%= @quote.author %></h2>
</div>

<br class="clear" />
<br />
<br />
<br />
