@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,400');


.clear {
  clear: both;
}

.circle {
    font-weight: bold;
    position: relative;
    border-radius: 100%;
    background: #C700E5;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform: rotate(11deg);
    -ms-transform: rotate(11deg); /* IE 9 */
    -webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'Poppins', sans-serif;
font-weight: 100;
  padding-top: 36px;
}

.links {
  padding-top: 36px;
  padding-right: 26px;
}
.links a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-weight: 100;

}

.links a:hover {
  color: #C700E5;
  font-weight: 400;
}



hr {
  clear: both;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 100;
}

.next-quote {
  color: #C700E5;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 100;

}



.footer-blurb {
  font-family: 'Poppins', sans-serif;
  text-align: right;
  font-size: 10px;
}

.logo:hover {
  text-decoration: none;
}

.about {
  font-family: 'Poppins', sans-serif;
  padding-top: 26px;
}

@media (max-width: 750px) {
  .footer-blurb {
  text-align: left;
  }
}

.modal {
  font-family: 'Poppins', sans-serif;
}

h2 span {
  color: #C700E5;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

::selection {
  background-color: #C700E5;
}
